.subtotal {
    padding: 2rem;
    color: #111;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem;
    max-width: 300px;
    border-radius: 10px;
    background-color: var(--gray);
}

.subtotal span {
    margin-left: 10px;
}

.subtotal input {
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .subtotal {
        min-width: 80%;
        margin: 1rem auto;
    }
}